.menuBtn {
  background: transparent;
  border: none;
  margin-right: 3rem;
  cursor: pointer;
}
.sideMenuIcon {
  font-size: 2rem;
}

.title a {
  text-decoration: none;
  font-family: 'Pacifico';
  color: rgb(39, 44, 41);
  font-weight: 400;
  font-size: 1.7rem;
}

.headerNav {
  display: none;
}
.sideMenuNav {
  height: 100%;
}

@media (min-width: 768px) {
  .menuBtn {
    display: none;
  }
  .headerNav {
    display: block;
  }
}
